#Basic Settings
INFRASTRUCTURE=local # Options: "ags_fola", "local"
DEPLOY_STAGE=test # Options: test, production

# Database Settings 
DB_HOST=127.0.0.1 
DB_PORT=5432
DB_USER=user 
DB_PASSWORD=password

#Storage Settings
STORAGE_HOST=UNUSED
STORAGE_SHARE=UNUSED
STORAGE_FOLDER=UNUSED
STORAGE_LOCAL_PATH=/tmp/phenobase# C:\Users\F12345678\phenobase

# AGS FOLA Settings 
FOLA_BASE_DOMAIN=UNUSED
FOLA_GAMARELLO_DOMAIN=UNUSED

FOLA_NORMAL_USER=UNUSED
FOLA_NORMAL_PASSWORD=UNUSED

FOLA_SERVICE_USER=UNUSED
FOLA_SERVICE_PASSWORD=UNUSED
################## Real API Users ##################

NORMAL_USER_FIRSTNAME=UNUSED
NORMAL_USER_LASTNAME=UNUSED
NORMAL_USER_EMAIL=UNUSED
NORMAL_USER_API_KEY=UNUSED
NORMAL_USER_KEY_HASH=UNUSED

SERVICE_USER_FIRSTNAME=UNUSED
SERVICE_USER_LASTNAME=UNUSED
SERVICE_USER_EMAIL=UNUSED
SERVICE_USER_API_KEY=UNUSED
SERVICE_USER_KEY_HASH=UNUSED

################## API Test Users ##################
HANS_MUELLER_API_KEY=91wo0yP0i3hs46nSYDhH-eCPak_z0v50nvsZdHObGuI
HANS_MUELLER_KEY_HASH=9e1d709284aacaec4993625f6a3380ab3d9f73491a26d75a472e0ee4a7510c2b
HANS_MUELLER_ROLE=reader

MAX_MUSTERMANN_API_KEY=GgwWvWOelvAecuK2Sl95LhuYKIW4t1iZFla0D8uoHso
MAX_MUSTERMANN_KEY_HASH=c230c56cabe65e1dbdc0776ecddf8611b0b031b8b8a2af738e30b2cc0435593b
MAX_MUSTERMANN_ROLE=writer

SABRINA_SCHINDLER_API_KEY=zcDP7KNzzGf99hyaiFOqNlWx8Qx7rei-VEw4tToxDTk
SABRINA_SCHINDLER_KEY_HASH=38313d4b5511623cc8245c5209bfe2412e0695d238c9b30b1a13ddf3cf5d7137
SABRINA_SCHINDLER_ROLE=admin




